#btnlogin {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 150px;
    -fx-background-radius: 150px;
    -fx-effect: dropshadow(three-pass-box, rgba(50, 50, 50, 0.5), 15, 0.1, 3, 4);
}

.label {
    -fx-font-family: "Poppins Regular";
}

.text-field {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-padding: 4px 13px;
    -fx-font-size: 16px;
    -fx-text-fill: gray;
    -fx-background-insets: 0, 1;
}

.text-field:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #67C6E3;
    -fx-border-width: 2px;
    -fx-text-fill: gray;
}

/* Invalid Input Styling */
.text-field:focused:invalid {
    -fx-border-color: #F44336;
    -fx-text-fill: #F44336;
}

/* Rectangle Styling */
.rectangle {
    -fx-fill: white;
    -fx-stroke: #69afe4;
    -fx-stroke-width: 1;
    -fx-arc-width: 20;
    -fx-arc-height: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(50, 50, 50, 0.6), 18, 0, 3, 5);
}

/* Date Picker */
.date-picker {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 6 12;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Table View */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:even {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
}

/* Dialog Box */
.dialog-pane {
    -fx-background-color: #f4f4f9;
    -fx-pref-width: 300px;
}

/* Dialog Content */
.dialog-pane .content {
    -fx-font-size: 13px;
    -fx-text-fill: #666666;
    -fx-padding: 10px 0;
}

/* Default Dialog Button */
.dialog-pane .button:default,
.dialog-pane .button:cancel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
}

.dialog-pane .button:default {
    -fx-background-color: #0078d7;
}

.dialog-pane .button:cancel {
    -fx-background-color: #ff6347;
}

/* Chart Styling */
.chart-series-line {
    -fx-stroke: blue;
    -fx-stroke-width: 2px;
}

.chart-bar {
    -fx-fill: blue;
}

.chart-plot-background {
    -fx-background-color: white;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #0078d7, white;
}
